{% extends "base.html" %}

{% block content %}
    <h1>Последние обсуждения</h1>

    {% if current_user.is_authenticated %}
        <div class="new-post-button">
            <a href="/{{ userlogin }}/post/new" class="btn btn-primary">Создать новый пост</a>
        </div>
    {% else %}
        <p><a href="/{{ userlogin }}/login">Войдите</a>, чтобы создавать новые посты</p>
    {% endif %}

    {% for post in posts %}
        <article>
            <h2><a href="/{{ userlogin }}/post/{{ post.id }}">{{ post.title }}</a></h2>
            <div>
                <span>Автор:<a href="#"> {{ post.author }}</a></span>
                <span>Опубликовано: {{ post.date_posted.strftime('%d.%m.%Y в %H:%M') }}</span>
            </div>
            <div>
                {{ post.content }}
            </div>
            <a href="/{{ userlogin }}/post/{{ post.id }}">Читать далее</a>
        </article>
    {% else %}
        <div>
            <p>Пока нет ни одного поста.</p>
            {% if not current_user.is_authenticated %}
                <a href="/{{ userlogin }}/register" class="btn btn-primary">Зарегистрироваться</a>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}