
h1.main_h1 {
    font-size: 100px;
    color: #000000;
}

div.site_text {
    background-color: #eee6dc;
    padding: 2em;
    border-radius: 1em;
    margin-top: 1em;
}

p.explanation {
    width: 50%;
    margin-top: 1em;
    border-radius: 1em;
    padding: 0.2em 1em 0.2em 1em;
    border: none;
    background-color: #dfdfdf;
}

button.site_button {
    font-size: 24px;
    border-radius: 1em;
    padding: 0.2em 1em 0.2em 1em;
    margin-right: 0.5em;
    background-color: #999999;
    color: black;
    border: none;
    outline: none;
    transition: all 200ms ease-in-out;
}
button.site_button:hover {
    background-color: #5d5d5d;
    color: #eeeeee;
}
button.site_button:active {
    background-color: #535353;
}

button.disabled_site_button {
    font-size: 23px;
    border-radius: 1em;
    padding: 0.2em 1em 0.2em 1em;
    margin-right: 0.5em;
    background-color: #aaaaaa;
    border: none;
    color: #343434;
}

