body {
    background-color: #f3f3f3;
}

nav.nav_bar {
    width: 100%;
    height: 4em;
    position: fixed;
    top: 0;
}

div.btn-group {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.house {
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #999999;
    color: #000000;
    transition: all 200ms ease-in-out;
}
a.house:hover {
    background-color: #5d5d5d;
    color: #eeeeee;
}
a.house:hover svg{
    scale: 1.2;
}
a.house:active {
    background-color: #535353;
}
a.house svg {
    width: 70%;
    height: 70%;
    transition: all 200ms ease-in-out;
}


form.btn-form {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form.btn-form button {
    height: 100%;
    width: 100%;
    background-color: #999999;
    color: #000000;
    font-size: 20px;
    border: none;
    outline: none;
    transition: all 200ms ease-in-out;
}
form.btn-form button:hover {
    font-size: 21px;
    background-color: #5d5d5d;
    color: #eeeeee;
}
form.btn-form button:active {
    font-size: 21px;
    background-color: #535353;
}

a.profile {
    text-decoration: none;
    width: 18%;
    height: 100%;
    transition: all 200ms ease-in-out;
}
a.profile div {
    height: 100%;
    background-color: #999999;

    display: flex;
    justify-content: center;
    vertical-align: top;
    text-align: center;
    transition: all 200ms ease-in-out;
}
a.profile svg {
    height: 100%;
    width: initial;
    color: #000000;
    transition: all 200ms ease-in-out;
}
p.login_text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #999999;
    color: #000000;
    transition: all 200ms ease-in-out;
    font-size: 20px;
}

a.profile:hover div{
    background-color: #5d5d5d;
}
a.profile:active div{
    background-color: #535353;
}
a.profile:hover svg{
    color: #eeeeee;
    scale: 1.1;
}

a.profile:hover p{
    background-color: #5d5d5d;
    color: #eeeeee;
    font-size: 21px;
}
a.profile:active p{
    background-color: #535353;
    font-size: 21px;
}

a.leave {
    height: 100%;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #999999;
    color: #000000;
    font-size: 20px;
    transition: all 200ms ease-in-out;
}
a.leave:hover {
    background-color: #5d5d5d;
    color: #f35d46;
    font-size: 21px;
}
a.leave:active {
    background-color: #535353;
}

div.auth {
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #999999;
}
div.auth a {
    width: 70%;
    font-size: 20px;
    border-radius: 1em;
    text-decoration: none;
    text-align: center;
    background-color: #999999;
    color: #000000;
    transition: all 200ms ease-in-out;
}
div.auth a:hover {
    background-color: #5d5d5d;
    color: #eeeeee;
}
div.auth a:active {
    background-color: #535353;
}