<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/sites.css">
    <link rel="stylesheet" href="../static/css/feedback.css">
    <title>{{ title }}</title>
</head>
<body>
<header>
    <nav class="nav_bar">
        <div class="btn-group">
            <a class="house" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-house-fill" viewBox="0 0 16 16">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                    <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
                </svg>
            </a>
            <form class="btn-form" action="/sites">
                <button><b>Главная страница</b></button>
            </form>
            <form class="btn-form" action="/mysites">
                <button><b>Мои Сайты</b></button>
            </form>
            <form class="btn-form" action="/feedback">
                <button><b>Обратная связь</b></button>
            </form>
            <form class="btn-form" action="/about">
                <button><b>О нас</b></button>
            </form>
            {% if current_user.is_authenticated %}
                <a class="profile" href="/my_profile">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                        </svg>
                        <p class="login_text"><b>{{ current_user.login }}</b></p>
                    </div>
                </a>
                <a class="leave" href="/user_logout">Выйти</a>
            {% else %}
                <div class="auth">
                    <a href="/register">Зарегистрироваться</a>
                    <a href="/login">Войти</a>
                </div>
            {% endif %}
        </div>
    </nav>
</header>

<main role="main" class="container">
    <h1 style="margin-bottom: 1em">asd</h1>
    {% block content %}{% endblock %}
</main>
</body>
</html>