{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="../static/css/style_widgets.css">
    <h1>Наши сайты</h1>
    <div>
        <a class="widget-link" href="/sites/1">
            <div class="widget" >
                <h1>Сайт для продажи</h1>
                <h3>На этом сайте вы сможете продавать всевозможные предметы,</h3>
                <h3>предоставлять услуги, даже вывешивать обьявления по сдаче квартир, участков и т.п.</h3>
            </div>
        </a>
        <a class="widget-link" href="/sites/2">
            <div class="widget" >
                <h1>Сайт для блога</h1>
                <h3>Благодаря этому сайту вы сможете вести свой блог,</h3>
                <h3>всячески общаться со своей аудиторией и продвигать свой канал.</h3>
            </div>
        </a>
        <a class="widget-link" href="/sites/3">
            <div class="widget" >
                <h1>Сайт для новостей/статей</h1>
                <h3>На этом сайте вы сможете публиковать всеразличные статьи и</h3>
                <h3>новости по нужным для вас темам.</h3>
            </div>
        </a>
        <a class="widget-link" href="/sites/4">
            <div class="widget" >
                <h1>Сайт для ещё чего-то</h1>
                <h3>На этом сайте вы сможете делать: ...</h3>
                <h3>что-то</h3>
            </div>
        </a>
        <a class="widget-link" href="/sites/5">
            <div class="widget" >
                <h1>Сайт для ещё чего-то</h1>
                <h3>На этом сайте вы сможете делать: ...</h3>
                <h3>что-то</h3>
            </div>
        </a>
        <h1></h1>
    </div>
{% endblock %}