<style>
    h1.t1 {
    margin-top: 3em;
}

a.widget-link {
    text-decoration: none;
}

div.widget {
    margin-top: 2em;
    background-color: #5d5d5d;
    color: #eeeeee;
    padding: 2.2em;
    border-radius: 1.2em;
    transition: all 200ms ease-in-out;
}
div.widget:hover {
    background-color: #535353;
}
</style>

<a class="widget-link" href="/sites/3">
    <div class="widget">
        <h1>Сайт для новостей/статей</h1>
        <h3>На этом сайте вы сможете публиковать всеразличные статьи и</h3>
        <h3>новости по нужным для вас темам.</h3>
    </div>
</a>